<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>네이버 쇼핑 최저가 검색</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/starter-template/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js" integrity="sha512-UnrKxsCMN9hFk7M56t4I4ckB4N/2HHi0w/7+B/1JsXIX3DmyBcsGpT3/BsuZMZf+6mAr0vP81syWtfynHJ69JA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <style>
        body {
            padding-top: 5rem;
        }
        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

    </style>

</head>
<body>

<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'>
    <div id='loadingImg' style='position:absolute; left:50%; top:40%; display:none; z-index:10000;'>
        <img src='/img/loading.gif'/>
    </div>

</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a href="/"><h4 class="navbar-brand">네이버 최저가 검색</h4></a>
</nav>
    <div class="starter-template">
        <div class="container-head-title">
            <h1>순서</h1>
            <h6>파일선택 > 엑셀 업로드 > 최저가 조회 결과 확인 > 엑셀 다운로드</h6>
        </div>
        <hr>
        <div class="form-group">
            <input type="file" onchange="readExcel()">
            <button type="button" id="crawlingBtn">최저가 검색 시작</button>
            <button type="button" id="downloadBtn">엑셀 다운로드</button>
            <form id="excelForm" action="/api/download"></form>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped table-sm" id="tableData">
                <thead>
                    <tr>
                        <th class="col-md-4">상품명</th>
                        <th>품번</th>
                        <th>판매가</th>
                        <th>최저가</th>
                        <th class="col-md-4">URL</th>
                    </tr>
                </thead>
                <tbody id="resultDiv">

                </tbody>
            </table>
        </div>

    </div>
<script>

    let excelData;

    $(document).ready(function (){

        $("#downloadBtn").on("click", function (){
            exportExcel();
        });

        $("#crawlingBtn").on("click", function (){

            if(excelData == null || excelData == undefined || excelData == ""){
                alert("파일 선택 클릭 후 엑셀 데이터를 선택한 뒤 조회해 주세요. ");
                return;
            }

            showLoadingBar();

            $.ajax({
                url: "/api/doCrawling",
                method: "POST",
                data: excelData,
                contentType:"application/json; charset=utf-8",
                dataType: "json",
                success: function (result){
                    let html = "";
                    if(result.length > 0){
                        $.each(result, function (index, elem){
                           html += "<tr>" +
                                       "<td class='col-md-4'>" +elem.name+ "</td>" +
                                       "<td>" +elem.productNumber1+ "</td>";
                            if(elem.salePrice != null && elem.salePrice != undefined){
                                html +=      "<td>" +elem.salePrice+ "</td>";
                            }else{
                                html +=      "<td> - </td>";
                            }
                            if(elem.lowerPrice != null && elem.lowerPrice != undefined){
                                html +=     "<td>" +elem.lowerPrice+ "</td>";
                            }else{
                                html +=     "<td> - </td>";
                            }

                            if(elem.shopUrl != null && elem.shopUrl != undefined){
                                html +=     "<td class='col-md-4' '><a href='"+elem.shopUrl+"' target='_blank'>"+elem.shopUrl+"</a></td>";
                            }else{
                                html +=     "<td> - </td>";
                            }
                             html += "</tr>";
                        });

                    }else{
                        html += "<tr><td colspan='5'>데이터를 조회할 수 없습니다.</td></tr>"
                    }
                    $("#resultDiv").html(html);

                    hideLoadingBar();
                },
                error: function (x,h,r){
                    console.log(x);
                    alert("시스템 오류 발생, 엑셀 파일 확인 후 다시 시도해 주세요.");
                    return;
                }
            });
        }) ;
    });

    function readExcel() {
        let input = event.target;
        let reader = new FileReader();
        reader.onload = function () {
            let data = reader.result;
            let workBook = XLSX.read(data, { type: 'binary' });
            workBook.SheetNames.forEach(function (sheetName) {
                console.log('SheetName: ' + sheetName);
                let rows = XLSX.utils.sheet_to_json(workBook.Sheets[sheetName]);
                console.log(JSON.stringify(rows));
                console.log(rows);

                excelData = JSON.stringify(rows);
            })
        };
        reader.readAsBinaryString(input.files[0]);
    }

    function showLoadingBar() {
        var maskHeight = $(document).height();
        var maskWidth = window.document.body.clientWidth;
        $('#mask').css({
            'width' : maskWidth
            , 'height': maskHeight
            , 'opacity' : '0.3'
        });

        $('#mask').show();
        $('#loadingImg').show();
    }

    function hideLoadingBar(){
        $('#mask').hide();
        $('#loadingImg').hide();
    }

    function exportExcel(){
        // step 1. workbook 생성
        var wb = XLSX.utils.book_new();

        // step 2. 시트 만들기
        var newWorksheet = excelHandler.getWorksheet();

        // step 3. workbook에 새로만든 워크시트에 이름을 주고 붙인다.
        XLSX.utils.book_append_sheet(wb, newWorksheet, excelHandler.getSheetName());

        // step 4. 엑셀 파일 만들기
        var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});

        // step 5. 엑셀 파일 내보내기
        saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), excelHandler.getExcelFileName());
    }


    var excelHandler = {
        getExcelFileName : function(){
            return 'result_'+moment().format('YYMMDD')+'.xlsx';	//파일명
        },
        getSheetName : function(){
            return '최저가 검색결과';	//시트명
        },
        getExcelData : function(){
            return document.getElementById('tableData'); 	//TABLE id
        },
        getWorksheet : function(){
            return XLSX.utils.table_to_sheet(this.getExcelData());
        }
    }

    function s2ab(s) {
        var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
        var view = new Uint8Array(buf);  //create uint8array as viewer
        for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
        return buf;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>